@import "../../styles/mixins";

.wrapper {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: var(--column-gap);
  position: absolute;
  top: 0;
  z-index: 10;
  width: calc(100% - 2 * var(--column-gap));
  justify-content: space-between;
  padding: 0 var(--column-gap);
  align-items:center;
}

img {
  width: clamp(1rem,5rem,10rem);
  margin: auto;
}

a {
  display:flex;
  justify-content:center;
  align-items:center;
}

.title {
  grid-column:1/12;
  text-decoration:none;
  @include font-header(white,left);
}

.is-opacity-0 {
  opacity:0;
}
