@import "./../../styles/_mixins";

.wrapper {
  @include layout-display(grid, column);
  height: 100%;
  grid-template-rows: 60% auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1797) 58.58%,
    #0b0415 88.02%
  );
}

app-navigation {
  display: none;
}

.cards {
  display: grid;
  grid-auto-flow: column;
  gap: calc(2rem + var(--card-border-width) + var(--card-border-width));
  height: -webkit-fill-available;
  padding: 8px 5% 2rem 5%;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  z-index: 5;
  position: absolute;
  bottom: 0;
  height: --webkit-fill-available;
  height: fit-content;
  right: 0;
  left: 0;
  align-items: self-end;
}

@media screen and (max-width: 800px) {
  .wrapper {
    background-image: unset !important;
    background: black;
    height: fit-content;
    grid-template-rows: unset;
  }

  app-navigation {
    display: flex;
  }

  .title {
    @include font-header(white, left);
  }

  .sdg-content {
    display: none !important;
  }

  .cards {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-evenly;
    margin-top: 50vh;
    position: unset;
    overflow: unset;
    grid-auto-flow: unset;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
  }

  body {
    background-color: black;
  }
}

.cards::-webkit-scrollbar {
  display: none;
}

.sdg-content {
  @include layout-display(flex, row, unset, center);
  position: relative;
  z-index: 4;
  // max-width: 66%;
}

.sdg-number {
  $line-height: 58rem;
  @include font-sdgnumber(rgba(255, 255, 255, 0.6), unset);
  @include layout-position(relative, calc($line-height / 4), 0);
  @include layout-display(flex, row, unset, center);
  overflow: hidden;
  margin-left: auto;
}

.sdg-number span {
  position: relative;
  left: 20%;
}

h1 {
  @include font-h1(white, left);
  @include layout-display(flex, row, unset, center);
  position: absolute;
  margin: 0 25% 0 5%;
}

.background {
  @include layout-position(absolute, 0, unset, unset, 0);
  @include esthetic-background(unset, unset);
}

.background--cepia {
  z-index: 3;
  background: rgba(171, 79, 79, 0.2);
}

.background--gradient {
  z-index: 4;
  background-position: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 49.79%,
    rgba(0, 0, 0, 0.1797) 60.73%,
    black 88.02%
  );
}

.button__intro {
  padding: 0 0 0 5%;
}
