<app-navigation [showTitle]="false">
  <div left>
    <app-button left text="Durabilia" link="/"></app-button>
  </div>
  <div middle>
    <app-button text="jouer au jeu" [externalLink]="true" link="https://durabilia.ch/" img="controller"></app-button>
  </div>
  <div right>
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</app-navigation>

<div class="wrapper" style="{{ backgroundImage }}">
  <div _ngcontent-tym-c3="" style="{{style}}" class="background background--gradient">
  </div>

  <div class="sdg-content">
    <h1>{{ currentProject?.name }}</h1>
    <div class="sdg-number">
      <span>
        {{ currentProject?.description }}
      </span>
    </div>
  </div>

  <div class="cards">
    <app-sdg-card (cardIsHover)="onCardIsHover($event)" *ngFor="let project of projects; index as i" [project]="project"
      [sdgNumber]="i"></app-sdg-card>
  </div>


</div>
