<div class="main">
  <div class="wrapper">
    <div class="video__wrapper">
      <div class="background-gradient"></div>
      <div class="background-cepia"></div>
      <!-- <shammas-player (shammas-video-end)="onVideoEnd()" (shammas-sequence-started)="onSequenceStarted($event)"></shammas-player> -->
      <video width="100%" poster="assets/home.jpg">
        <source type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <div class="content">
        <div> </div>

        <div class="content__wrapper">
          <h1><span>Durabilia</span></h1>
          <p>Une plateforme composée de vidéos interactives qui permettent
          de découvrir les 17 Objectifs de Développement Durable</p>
          <button type="button" class="play"><img src="assets/playCircle.svg" alt="play button"></button>
          <div class="buttons">
            <a routerLink="/sdg-list" routerLinkActive="active" class="button">Découvrir les 17 0DD</a>
            <a routerLink="/sdg-list" routerLinkActive="active" class="button">Jouer</a>
          </div>
        </div>

        <div class="logo__wrapper">
          <img src="assets/heig.logo.png" alt="Haute Ecole d'ingénierie et de Gestion logo">
          <img src="assets/sdg.logo.png" alt="Sustainable Developement Goals logo">
          <img src="assets/mei.logo.svg" alt="Media Engineering Institute logo">
        </div>
      </div>

    </div>
  </div>
</div>
