@import "../../../styles/mixins";

.wrapper {
  @include layout-display(flex, column, flex-start, center);
  position: relative;
  padding-top: 10rem;
  overflow: hidden;
}

#tooltip {
  @include font-question(#282828, center);
  @include layout-display(flex, row, center, center);
  position: fixed;
  top: -100%;
  border-radius: var(--border-radius);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  padding: 1rem;
  background: #f1f1f1;
  width: 37.2rem;
  display: flex;
  flex-direction: column;
  z-index:100;
}

#tooltip p {
  padding: 0 2rem;
}

.close {
  align-self: flex-end;
  display: none;
}

.follow {
  display: none;
  padding-bottom:2rem;
}

.follow button {
  @include layout-display(flex, row, center, center);
  @include font-button(white, center);
  box-sizing: border-box;
  box-shadow: 6px 6px 4px rgba(11, 4, 21, 0.4);
  width: 30rem;
  border: 2px solid white;
  border-radius: var(--border-radius);
  padding: 0;
  background: rgba(199, 193, 193, 0.75);
}

#tooltip.tooltip--top {
  top: 0;
  width: calc(100% - 5rem);
}

@media screen and (max-width: 800px) {
  .close,
  .follow {
    display: flex;
  }
}

.image-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

.image-background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff3a21;
  opacity: 0.1;
}

.heading {
  @include font-h1(white, center);
  margin: 20px;
  font-size: 2rem;
}
