<app-navigation position="top">
  <div left>
    <app-button link="/" text="Durabilia"></app-button>
  </div>
  <div right>
    <app-button text="jouer au jeu" [externalLink]="true" link="https://durabilia.ch/" img="controller"></app-button>
  </div>
  <div *ngIf="type=='conclusion'" middle>
    <app-button link="/sdg-list"  text="aller aux chapitres" type="full"></app-button>
  </div>
</app-navigation>

<app-navigation position="bottom">
  <div *ngIf="type=='intro'" right>
    <app-button link="/sdg-list" img="skipForward" type="square"></app-button>
  </div>
</app-navigation>
<shammas-player (shammas-video-end)="onVideoEnd()"></shammas-player>
