@import "./../../styles/_mixins";

a {
  @include font-button(white, center);
  display: flex;
  box-sizing: border-box;
  width: 45rem;
  box-shadow: 6px 6px 4px rgba(11, 4, 21, 0.4);
  border: 2px solid white;
  border-radius: var(--border-radius);
  padding: 0.25em 0;
  text-decoration: none;
  background: rgba(199, 193, 193, 0.75);
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 5.1rem;
}

a:hover {
  background: #7e7b7b;
}

@media screen and (max-width: 600px) {
  a {
    width: 30rem;
  }
}

.square {
  aspect-ratio: 1/1;
  border-radius: 0;
  box-shadow: none;
  border: none;
  width: unset;
  background: none;
}

.square:hover {
  background: unset;
  color: var(--secondary-color-hex);
}

.square:hover .icon {
  color: var(--secondary-color-hex) !important;
}

.full .icon {
  display: none;
}

a:hover .icon {
  display: flex;
}
