@import "./../../styles/_mixins";

a {
  text-decoration: none;
  @include font-header(white, left);
}

a:hover .icon {
  display: flex;
}

a:hover {
  color: var(--secondary-color-hex);
}

.icon {
  font-size: 5.1rem;
  @include layout-display(flex, row, center, center);
}

a.square,
a.full {
  @include font-button(white, center);
}

// =====================================================================
// 0. FULL
// =====================================================================

.full {
  box-sizing: border-box;
  @include layout-display(flex, row, center, center);
  box-shadow: 6px 6px 4px rgba(11, 4, 21, 0.4);
  width: 45rem;
  border: 2px solid white;
  border-radius: var(--border-radius);
  padding: 0.25em 0;
  background: rgba(199, 193, 193, 0.75);
}

@media screen and (max-width: 600px) {
  .full {
    width: 30rem;
  }
}

.full .icon {
  display: none;
}

.full:hover {
  background: #7e7b7b;
  color: white;
}

// =====================================================================
// 1. SQUARE
// =====================================================================

.square {
  aspect-ratio: 1/1;
  border-radius: 0;
  box-shadow: none;
  border: none;
  width: unset;
  background: none;
}

.square:hover {
  background: unset;
  color: var(--secondary-color-hex);
}

.square:hover .icon {
  color: var(--secondary-color-hex) !important;
}
