<a style="color:{{color}}" *ngIf="link && !externalLink" routerLink="{{link}}" class="{{getClass()}}">
  <span class="{{getImgClass()}}"></span><span class="text">{{text}}</span>
</a>

<a style="color:{{color}}" *ngIf="link && externalLink" href="{{link}}" class="{{getClass()}}">
  <span class="{{getImgClass()}}"></span><span class="text">{{text}}</span>
</a>

<button style="color:{{color}}" *ngIf="!link" class="title" (click)="onClick()">
  <span class="{{getImgClass()}}"></span>
  <span class="text">{{text}}</span>
</button>

