<div class="main">

  <!--========================>
  <--- NAVIGATION 
  <=========================-->
  <app-navigation>
    <div left>
      <app-button link="/" text="Durabilia"></app-button>
    </div>
    <div right>
      <app-button text="jouer au jeu" [externalLink]="true" link="https://durabilia.ch/" img="controller" ></app-button>
    </div>
  </app-navigation>

  <div class="wrapper">
    <div class="video__wrapper">

      <div class="background background--gradient"></div>
      <div class="background background--cepia"></div>

      <video width="100%" loop autoplay>
        <source type="video/mp4"
          [src]="videoPath">
        Your browser does not support the video tag.
      </video>

      <div class="content">
        <div> </div>

        <!--========================>
        <--- CONTENTS 
        <=========================-->
        <div class="content__wrapper">
          <h1><span>Durabilia</span></h1>
          <p>Une plateforme composée de vidéos interactives qui permettent
            de découvrir les 17 Objectifs de Développement Durable</p>
          <div class="buttons">
            <app-button link="/intro" text="Découvrir" type="full" img="arrowRight"></app-button>
          </div>
        </div>

        <!--========================>
        <--- LOGOS 
        <=========================-->
        <div class="logo__wrapper">
          <img src="assets/heig.logo.svg" alt="Haute Ecole d'ingénierie et de Gestion logo">
          <img src="assets/mei.logo.svg" alt="Media Engineering Institute logo">
        </div>

      </div>

    </div>
  </div>
</div>
