@import "../../../styles/mixins";

.wrapper {
  z-index: 10;
  background: #f1f1f1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  max-width: 50.8rem;
  width: 100%;
  margin: 0 0 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 2rem;
}

label {
  display: flex;
  align-items: center;
}

input {
  order: -1;
}

p {
  @include font-li(#2b2b2b, left);
  margin-left: 1rem;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: unset;
  margin: 0;
  display:flex;
  font: inherit;
  color: var(--current-sdg-color);
  font-size:1rem;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

input[type="radio"]::before {
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: white;
  transition: 120ms transform ease-in-out;
  box-shadow: 0 0 0 2px white, 0 0 0 4px var(--current-sdg-color);
}

input[type="radio"]:checked::before {
  background-color: var(--current-sdg-color) !important;
}

@media screen and (max-width: 800px) {
  .content {
    grid-template-rows: 1.5fr auto 1fr;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}
